/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}
/* body background and font weight */
body {
    font-weight: 900;
    background-color: #F6F8F9;
}
header {
    position:relative;
    margin-bottom: 30px;
}
h1 {
    font-size: 45px;
    display: inline-block;
    position:absolute;
}
/* hiding ul bullets */
ul {
    list-style: none;
}
li {
    margin-bottom: 12px;
}
.div-margin {
    margin-top: 10px;
}
.margin {
    max-height: 1400px;
    margin-left: 10%;
    margin-right: 10%;
}
#main-margin {
    padding-bottom: 70px;
    border-radius: 1%;
    padding-left: 40px;
}
.background-white {
    background-color: white;
}
#text-gray {
    color: lightgray;
}
.button-border {
    margin: 2px;
    width: 75px;
    height: 22px;
    border: none;
    border-radius: 15px;
}
#button-border2 {
    border-radius: 15px;
    height: 22px;
    width: 100px;
    border: solid 2px lightgray;
    color: gray;
}
#button-margin {
    margin-bottom: 3px;
    padding: 7px 0px 7px 25px;
}
.entity-green {
    color: #64C0A9;
}
.entity-red {
    color: red;
}
.text-white {
    color: white;
}
.button-blue {
    background-color: #47ADF1;
}
.button-purple {
    background-color: #9C72E4;
}
.button-green {
    background-color: #64C0A9;
}
.button-orange {
    background-color: #F29E33;
}
.button-pink {
    background-color: #D863A0;
}
.button-lime {
    background-color: #B0C926;
}
.entity-radio {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    padding-top: 2px;
}